{% extends "landingpage/base.html" %}

{% block page_content %}

<div class="container-fluid"></div>

<h5>Info profile:</h5>
<ol>
    <li>Nome: {{user.username}}</li>
    <li>Email: {{user.email}}</li>
    <li>Born on : {{user.profile.birthday}}</li>


</ol>
<form action="{% url 'accounts:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
<br>
<p>Change profile <a href="{% url "accounts:edit" %}">Here</a></p>
<p>Change password <a href="{% url 'accounts:password_change' %}">Here</a> </p>

</div>


{% endblock page_content %}