{% load i18n %}
<div class="widget-content">


  <h4>{% trans "Follow Us" %}</h4>
  <ul class="social-links">
    <li>
      <a href="https://facebook.com">
        <i class="fab fa-facebook-f"></i> {% trans "Facebook" %}
      </a>
    </li>
    <li>
      <a href="https://twitter.com">
        <i class="fab fa-twitter"></i> {% trans "X" %}
      </a>
    </li>
    <li>
      <a href="https://instagram.com">
        <i class="fab fa-instagram"></i> {% trans "Instagram" %}
      </a>
    </li>
  </ul>
</div>