  <div class="nav-scroller py-1 mb-3 border-bottom container">
    <nav class="nav nav-underline justify-content-between">
      <a class="nav-item nav-link link-body-emphasis active" href="{% url 'articles:article-list' %}">Design</a>
      <a class="nav-item nav-link link-body-emphasis" href="{% url 'articles:article-list' %}">Technology</a>
      <a class="nav-item nav-link link-body-emphasis" href="{% url 'articles:article-list' %}">Culture</a>
      <a class="nav-item nav-link link-body-emphasis" href="{% url 'articles:article-list' %}">Science</a>

    </nav>
  </div>