<div class="container">
  <div>
    <h3>Latest articles added</h3>

    {% for article in page_obj %}
      <div class="blog-post">
        <article class="blog-post">
          <h2>{{ article.title }}</h2>
          <p class="blog-post-meta">{{ article.published }} <a href="#">Admin</a></p>
          {% if article.img %} 
            <img src="{{ article.img.url }}" alt="{{ article.title }}" class="article-image">
          {% endif %}
          <p>{{ article.body }}</p>
        </article>
      </div>
      <hr class="separator">

<!-- Sezione commenti -->
<h2 class="comments-title">Commenti</h2>
{% for comment in comments %}
    <div class="comment">
        <p class="comment-author"><strong>{{ comment.author }}</strong>: {{ comment.text }}</p>
        <p class="comment-date">Pubblicato il: {{ comment.created_at }}</p>
    </div>
{% empty %}
    <p class="no-comments">Nessun commento ancora.</p>
{% endfor %}

<!-- Separatore -->
<hr class="separator">

<!-- Form per aggiungere un commento -->
<h2 class="add-comment-title">Aggiungi un commento</h2>
{% if user.is_authenticated %}
    <form method="post" class="comment-form">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Genera i campi del form -->
        <button type="submit" class="submit-button">Invia</button>
    </form>
{% else %}
    <p class="login-message">Devi effettuare l'accesso per lasciare un commento. <a href="{% url 'login' %}" class="login-link">Accedi qui</a>.</p>
{% endif %}
    {% endfor %}

    {% block pagination %}
      {% include "landingpage/partials/_paginations.html" with page=page_obj %}
    {% endblock %}
  </div>
</div>