<div class="container">
  <div>
    <h3>Latest articles added</h3>

    {% for article in page_obj %}
      <div class="blog-post">
        <article class="blog-post">
          <h2>{{ article.title }}</h2>
          <p class="blog-post-meta">{{ article.published }} <a href="#">Admin</a></p>
          {% if article.img %} 
            <img src="{{ article.img.url }}" alt="{{ article.title }}" class="article-image">
          {% endif %}
          <p>{{ article.body }}</p>
        </article>
      </div>
    {% endfor %}

    {% block pagination %}
      {% include "landingpage/partials/_paginations.html" with page=page_obj %}
    {% endblock %}
  </div>
</div>