<div class="col-md-15">
  <div class="position-sticky" style="top: 2rem; min-width: 250px; max-width: 100%;">
    <div class="p-4 mb-3 bg-body-tertiary rounded" 
         style="word-wrap: break-word; white-space: normal; border: 1px solid #ddd; padding: 10px;">
      <h4 class="fst-italic">About</h4>
      <p class="mb-0">
        Customize this section to tell your visitors a little bit about your publication, 
        writers, content, or something else entirely. Totally up to you.
      </p>
    </div>
  </div>
</div>
