{% load static i18n %}
<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mateo Prifti">
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'LOGO/logo_pretish_.ico' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css">
    <link href="{% static 'CSS/blog.css' %}" rel="stylesheet">
</head>
<body>

  
    {% block header %}
      {% include "landingpage/partials/_header.html" %}
    {% endblock %}

    {% block page_content %}
      {% include "landingpage/partials/_landingpage_content.html" %}
    {% endblock %}

    {% block footer %}
      {% include "landingpage/partials/_footer.html" %}
    {% endblock %}

    <!-- Collegamento al file JavaScript -->
    <script src="{% static 'JAVASCRIPT/scripts.js' %}"></script>
</body>
</html>