# Ambienti virtuali
venv/
env/
.venv/
ENV/

# File di cache Python
__pycache__/
*.py[cod]

# Database SQLite
db.sqlite3

# File generati
/staticfiles/
/media/

# Configurazioni locali e sensibili
.env
local_settings.py

# IDE
/.idea/
*.iml

# File di log
*.log

# File di backup
*.bak
*.backup