{% load i18n %}
Subject: {% trans "Password Reset Request" %}

{% trans "Hello," %}
{% trans "We have received a password reset request for your account associated with the email" %} {{ email }}. {% trans "If you didn't request it, simply ignore this email." %}

{% trans "To reset your password, click the link below:" %}

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% trans "If the link doesn't work, copy and paste the URL into your browser." %}

{% trans "Thanks," %}
{% trans "The Blog Team" %}