{% extends "landingpage/base.html" %}

{% block page_content %}

<div class="password-reset-container">
    <div class="password-reset-card">
        <h2 class="password-reset-title">Enter your new password.</h2>
        <p class="password-reset-message">Enter your new password in the two fields below.</p>

        <form action="" method="post" class="password-reset-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn-change-password">Change Password</button>
        </form>
    </div>
</div>

{% endblock page_content %}