{% extends "landingpage/base.html" %}

{% block page_content %}

<div class="password-reset-request-container">
    <div class="password-reset-request-card">
        <h2 class="password-reset-request-title">Reset Password</h2>
        <p class="password-reset-request-message">Forgot your password? Enter your email address and we'll send you instructions on how to set a new one.</p>

        <form action="" method="post" class="password-reset-request-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn-reset-password">Send Instructions</button>
        </form>
    </div>
</div>

{% endblock page_content %}