{% extends "landingpage/base.html" %}

{% block page_content %}

<div class="password-reset-success-container">
    <div class="password-reset-success-card">
        <div class="card-content">
            <h4 class="success-title">Password Reset Successfully!</h4>
            <p class="success-message">Your password has been changed. You can now log in with your new password.</p>
            <a href="{% url 'login' %}" class="btn-login">Go to Login</a>
        </div>
    </div>
</div>

{% endblock page_content %}