{% extends "landingpage/base.html" %}
{% load i18n %}

{% block page_content %}

<div class="password-change-container">
    <h2 class="password-change-title">{% trans "Change Password" %}</h2>
    
    <form action="" method="post" class="password-change-form">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn-change-password">{% trans "Change Password" %}</button>
    </form>
</div>

{% endblock page_content %}