{% extends "landingpage/base.html" %}

{% block page_content %}
<div class="container">

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <h2>Registration</h2>
    <form method="post">
        {% csrf_token %}
        
        {% for field in form %}
        <p>
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <small style="color:gray">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <small style="color:red">{{ error }}</small>
            {% endfor %}
        </p>
        {% endfor %}

        <br>
        <input type="submit" value="Register">
    </form>
    <br>

</div>
{% endblock %}
